{% extends 'df_goods/base.html' %}
{% block head %}
<script type="text/javascript">
{% comment %}点击加号{% endcomment %}
        function add() {
            var  num=parseInt($('.num_show').val())+1;
            $('.num_show').val(num);
            var price =parseFloat($('.show_pirze>em').text());

            var total = Math.round(price*100*num)/100;
            $('.total>em').text(total.toFixed(2));
        }
          {% comment %}点击减号{% endcomment %}
        function minus() {
            var  num=parseInt($('.num_show').val())-1;
            if (num<0){
                num=0;
            }
            var price =parseFloat($('.show_pirze>em').text());
            var total = Math.round(price*100*num)/100;
            $('.total>em').text(total.toFixed(2));
            $('.num_show').val(num);
        }
        {% comment %}手动更改数量{% endcomment %}
        function change(){
            var price =parseFloat($('.show_pirze>em').text());
            var  num=parseInt($('.num_show').val());
            var total = Math.round(price*100*num)/100;
             $('.total>em').text(total.toFixed(2));
         }    ;


            $('.total>em').text(total.toFixed(2));		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(2);
					});

			});
		})
	</script>
{% endblock head %}

	{% block content_head %}
        <div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ g.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ g.gtitle }}</h3>
			<p>{{ g.gjianjie}}</p>
			<div class="prize_bar">
				<span  class="show_pirze">¥<em>{{ g.gprice }}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" onchange="javascript:change()" value="1">
					<a href="javascript:add();" class="add fr">+</a>
					<a href="javascript:minus();" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em>{{ g.gprice}}</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>
{% endblock content_head %}
{% block content_detail %}


		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ g.gcontent|safe}} </dd>
				</dl>
			</div>

		</div>
	</div>
    <div class="add_jump"></div>


{% endblock content_detail %}


